html {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Nunito", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  color: #212529;
  background-color: #fff;
}

.container {
  margin: 0 auto;
  max-width: 1280px;
}

a {
  text-decoration: none;
  display: block;
}

.header {
  background-color: #fff;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.05);
          box-shadow: 0 3px 9px rgba(0, 0, 0, 0.05);
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
  padding: 1rem 0;
}

.header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header .container .logo-header .logo {
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.5rem;
  font-weight: 800;
  color: #dc4f72;
}

.header .container .logo-header .logo i {
  line-height: 68px;
}

.header .container .logo-header .logo p {
  margin-left: 0.3rem;
  line-height: 68px;
}

.header .container .wrap-navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .container .wrap-navbar .navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header .container .wrap-navbar .navbar .nav-item {
  position: relative;
  margin-left: 1.75rem;
  font-size: 1rem;
  font-weight: 400;
  color: #2c3038;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  line-height: 52px;
}

.header .container .wrap-navbar .navbar .nav-item::before {
  position: absolute;
  content: "";
  height: 2px;
  background-color: #dc4f72;
  width: 0;
  bottom: 0.875rem;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.header .container .wrap-navbar .navbar .nav-item:hover {
  color: #dc4f72;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.header .container .wrap-navbar .navbar .nav-item:hover::before {
  width: 35%;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.header .container .wrap-navbar .navbar .drop_down-menu {
  position: relative;
}

.header .container .wrap-navbar .navbar .drop_down-menu .drop_down-btn {
  position: relative;
  margin-left: 1.75rem;
  line-height: 52px;
  z-index: 5;
  font-size: 1rem;
  font-weight: 400;
  color: #2c3038;
}

.header .container .wrap-navbar .navbar .drop_down-menu .drop_down-btn::before {
  position: absolute;
  content: "";
  height: 2px;
  background-color: #dc4f72;
  width: 0;
  bottom: 0.875rem;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.header .container .wrap-navbar .navbar .drop_down-menu .drop_down-btn:hover {
  color: #dc4f72;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.header .container .wrap-navbar .navbar .drop_down-menu .drop_down-btn:hover::before {
  width: 35%;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.header .container .wrap-navbar .navbar .drop_down-menu .drop_down-btn:focus ~ .menu_item {
  display: block;
}

.header .container .wrap-navbar .navbar .drop_down-menu .drop_down-btn:default ~ .menu_item {
  display: block;
}

.header .container .wrap-navbar .navbar .drop_down-menu .drop_down-btn i {
  font-size: 0.75rem;
}

.header .container .wrap-navbar .navbar .drop_down-menu .menu_item {
  display: none;
  padding: 1.3rem 1.5rem;
  border: 1px solid #00000026;
  position: absolute;
  left: -30px;
  top: 100%;
  border-radius: 6px;
  min-width: 11rem;
  padding: 1rem 0 1rem 0.3rem;
  -webkit-box-shadow: 1px 5px 7.5px rgba(196, 196, 196, 0.2);
          box-shadow: 1px 5px 7.5px rgba(196, 196, 196, 0.2);
}

.header .container .wrap-navbar .navbar .drop_down-menu .menu_item::before {
  content: "";
  width: 14px;
  height: 14px;
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.15);
  display: block;
  border-right: none;
  border-bottom: none;
  -webkit-transform: translateX(-50%) rotateZ(45deg);
          transform: translateX(-50%) rotateZ(45deg);
  position: absolute;
  top: -7px;
  left: 49%;
}

.header .container .wrap-navbar .navbar .drop_down-menu .menu_item .item {
  display: block;
  position: relative;
  font-size: 1rem;
  font-weight: 400;
  color: #2c3038;
  line-height: 30px;
  margin-left: 1rem;
}

.header .container .wrap-navbar .navbar .drop_down-menu .menu_item .item::before {
  position: absolute;
  content: "";
  height: 2px;
  background-color: #dc4f72;
  width: 0;
  bottom: 0;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.header .container .wrap-navbar .navbar .drop_down-menu .menu_item .item:hover {
  color: #dc4f72;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.header .container .wrap-navbar .navbar .drop_down-menu .menu_item .item:hover::before {
  width: 20%;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.header .container .wrap-navbar .btn-schedule {
  padding: 0 1.25rem;
  border: 1px solid #dc4f72;
  border-radius: 0.3rem;
  margin-left: 2rem;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.header .container .wrap-navbar .btn-schedule:hover {
  background-color: #dc4f72;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.header .container .wrap-navbar .btn-schedule:hover .btn {
  color: #fff;
}

.header .container .wrap-navbar .btn-schedule .btn {
  line-height: 40px;
  font-size: 1rem;
  font-weight: 700;
  color: #dc4f72;
}

.onScroll {
  padding: 0;
}

.footer .footer-top .container {
  margin: 3rem auto;
}

.footer .footer-top .container .footer-top-section {
  max-width: 750px;
  margin: 0 auto;
  text-align: center;
}

.footer .footer-top .container .footer-top-section h1 {
  font-size: 3rem;
  font-weight: 700;
  color: #2c3038;
  line-height: 1;
  margin-bottom: 1rem;
}

.footer .footer-top .container .footer-top-section p {
  font-size: 1rem;
  font-weight: 400;
  color: #5a5a5a;
  line-height: 22.5px;
  margin: 5px auto;
}

.footer .footer-top .container .footer-top-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 3rem;
}

.footer .footer-top .container .footer-top-btn .btn-book {
  background: transparent;
  border: 1px solid #dc4f72;
  border-radius: 0.25rem;
  padding: 0px 30px;
  -webkit-box-shadow: none;
          box-shadow: none;
  display: block;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  cursor: pointer;
  display: inline-block;
  line-height: 52px;
  font-size: 0.875rem;
  font-weight: 700;
  color: #dc4f72;
  margin-right: 0.5rem;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.footer .footer-top .container .footer-top-btn .btn-book:hover {
  background-color: #dc4f72;
  color: #fff;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.footer .footer-top .container .footer-top-btn .btn-start {
  background: #dc4f72;
  border: 1px solid #dc4f72;
  border-radius: 0.25rem;
  padding: 0px 30px;
  -webkit-box-shadow: none;
          box-shadow: none;
  display: block;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  cursor: pointer;
  display: inline-block;
  line-height: 52px;
  font-size: 0.875rem;
  font-weight: 700;
  color: #fff;
  margin-left: 0.5rem;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.footer .footer-top .container .footer-top-btn .btn-start:hover {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  background-color: #d62f58;
  border-color: #cf2952;
}

.footer .footer-bottom {
  background-color: #f7f9fc;
}

.footer .footer-bottom .container {
  padding: 3rem 0;
}

.footer .footer-bottom .container .row .col .other-links .col .item h2 {
  font-size: 1.25rem;
  font-weight: 700;
  color: #2c3038;
  line-height: 25px;
  margin-bottom: 1.875rem;
}

.footer .footer-bottom .container .row .col .other-links .col .item a {
  font-size: 1rem;
  font-weight: 400;
  color: #656f7b;
  line-height: 25px;
  margin: 0.675rem 0;
}

.footer .footer-bottom .container .row .news {
  padding-left: 100px;
}

.footer .footer-bottom .container .row .news .item h2 {
  font-size: 1.25rem;
  font-weight: 700;
  color: #2c3038;
  line-height: 25px;
  margin-bottom: 1.875rem;
}

.footer .footer-bottom .container .row .news .item .get_update-box {
  background-color: #fff;
  border: 1px solid white;
  border-radius: 6px;
  padding: 1.75rem;
  -webkit-box-shadow: 1px 5px 7.5px rgba(196, 196, 196, 0.2);
          box-shadow: 1px 5px 7.5px rgba(196, 196, 196, 0.2);
}

.footer .footer-bottom .container .row .news .item .get_update-box h3 {
  font-size: 1.125rem;
  font-weight: 500;
  color: #2c3038;
  line-height: 25px;
  margin-bottom: 1.875rem;
}

.footer .footer-bottom .container .row .news .item .get_update-box form {
  margin-bottom: 1rem;
}

.footer .footer-bottom .container .row .news .item .get_update-box form input {
  border: none;
  padding: 12px 20px;
  outline: none;
  width: 78%;
  border-radius: 6px;
  border: 1px solid transparent;
  font-size: 1rem;
  font-weight: 600;
  color: #2c3038;
  background-color: #f7f9fc;
  overflow: visible;
}

.footer .footer-bottom .container .row .news .item .get_update-box form button {
  border: none;
  outline: none;
  text-align: center;
  padding: 12px 20px;
  cursor: pointer;
  width: 20%;
  border-radius: 6px;
  border: 1px solid transparent;
  background-color: #dc4f72;
  font-size: 1rem;
  font-weight: 600;
  color: #fff;
}

.footer .footer-bottom .container .row .news .item .get_update-box p {
  font-size: 1rem;
  font-weight: 400;
  color: #5a5a5a;
  line-height: 22px;
}

.footer .footer-bottom .container .below-section {
  margin-top: 3rem;
  border-top: 1px solid #eaeaea;
  padding: 1.5rem 0;
}

.header-section {
  margin: 0 auto 3rem auto;
  text-align: center;
}

.header-section h2 {
  font-size: 2.5rem;
  font-weight: 800;
  color: #2c3038;
  line-height: 3.4375rem;
}

.title h6 {
  font-size: 1rem;
  font-weight: 700;
  color: #dc4f72;
  text-transform: uppercase;
  margin-bottom: 0.3125rem;
  line-height: 1.25rem;
}

.title h3 {
  font-size: 2.5rem;
  font-weight: 700;
  color: #2c3038;
}

.title p {
  font-size: 1rem;
  font-weight: 400;
  color: #5a5a5a;
  line-height: 1.4rem;
  margin: 1rem auto;
}

.contact {
  position: relative;
}
