html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Nunito", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  color: #212529;
  background-color: #fff;
}

.container {
  margin: 0 auto;
  max-width: 1280px;
}

.img-fluid {
  width: 100%;
  height: auto;
}

.header-section {
  max-width: 750px;
  margin: 0 auto;
}
.header-section .sub-title {
  line-height: 20px;
  text-transform: uppercase;
  margin-bottom: 5px;
  font-size: 1rem;
  font-weight: 700;
  color: #dc4f72;
}
.header-section h3 {
  line-height: 1;
  font-size: 3rem;
  font-weight: 700;
  color: #2c3038;
}
.header-section p {
  line-height: 22.5px;
  margin-left: auto;
  margin-right: auto;
  font-size: 1rem;
  font-weight: 400;
  color: #5a5a5a;
}

a {
  text-decoration: none;
  display: block;
}

.header {
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.05);
  transition: all 0.4s ease 0s;
  padding: 1rem 0;
  z-index: 900;
}
.header .container {
  display: flex;
  justify-content: space-between;
}
.header .container .logo-header .logo {
  height: 30px;
  display: flex;
  font-size: 1.5rem;
  font-weight: 800;
  color: #dc4f72;
}
.header .container .logo-header .logo i {
  line-height: 68px;
}
.header .container .logo-header .logo p {
  margin-left: 0.3rem;
  line-height: 68px;
}
.header .container .wrap-navbar {
  display: flex;
  align-items: center;
}
.header .container .wrap-navbar .navbar {
  display: flex;
}
.header .container .wrap-navbar .navbar .nav-item {
  position: relative;
  margin-left: 1.75rem;
  font-size: 1rem;
  font-weight: 400;
  color: #2c3038;
  transition: all 0.4s;
  line-height: 52px;
}
.header .container .wrap-navbar .navbar .nav-item::before {
  position: absolute;
  content: "";
  height: 2px;
  background-color: #dc4f72;
  width: 0;
  bottom: 0.875rem;
  transition: all 0.5s;
}
.header .container .wrap-navbar .navbar .nav-item:hover {
  color: #dc4f72;
  transition: all 0.4s;
}
.header .container .wrap-navbar .navbar .nav-item:hover::before {
  width: 35%;
  transition: all 0.5s;
}
.header .container .wrap-navbar .navbar .drop_down-menu {
  position: relative;
}
.header .container .wrap-navbar .navbar .drop_down-menu .drop_down-btn {
  position: relative;
  margin-left: 1.75rem;
  line-height: 52px;
  z-index: 5;
  font-size: 1rem;
  font-weight: 400;
  color: #2c3038;
}
.header .container .wrap-navbar .navbar .drop_down-menu .drop_down-btn::before {
  position: absolute;
  content: "";
  height: 2px;
  background-color: #dc4f72;
  width: 0;
  bottom: 0.875rem;
  transition: all 0.5s;
}
.header .container .wrap-navbar .navbar .drop_down-menu .drop_down-btn:hover {
  color: #dc4f72;
  transition: all 0.4s;
}
.header .container .wrap-navbar .navbar .drop_down-menu .drop_down-btn:hover::before {
  width: 35%;
  transition: all 0.5s;
}
.header .container .wrap-navbar .navbar .drop_down-menu .drop_down-btn:focus ~ .menu_item {
  display: block;
}
.header .container .wrap-navbar .navbar .drop_down-menu .drop_down-btn:focus ~ .menu_item .item {
  display: block;
}
.header .container .wrap-navbar .navbar .drop_down-menu .drop_down-btn i {
  font-size: 0.75rem;
}
.header .container .wrap-navbar .navbar .drop_down-menu .menu_item {
  z-index: 1000;
  display: none;
  padding: 1.3rem 1.5rem;
  border: 1px solid rgba(0, 0, 0, 0.1490196078);
  position: absolute;
  left: -30px;
  top: 100%;
  border-radius: 6px;
  min-width: 11rem;
  padding: 1rem 0 1rem 0.3rem;
  box-shadow: 1px 5px 7.5px rgba(196, 196, 196, 0.2);
}
.header .container .wrap-navbar .navbar .drop_down-menu .menu_item::before {
  content: "";
  width: 14px;
  height: 14px;
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.15);
  display: block;
  border-right: none;
  border-bottom: none;
  transform: translateX(-50%) rotateZ(45deg);
  position: absolute;
  top: -7px;
  left: 49%;
}
.header .container .wrap-navbar .navbar .drop_down-menu .menu_item .item {
  display: block;
  position: relative;
  font-size: 1rem;
  font-weight: 400;
  color: #2c3038;
  line-height: 30px;
  margin-left: 1rem;
}
.header .container .wrap-navbar .navbar .drop_down-menu .menu_item .item::before {
  position: absolute;
  content: "";
  height: 2px;
  background-color: #dc4f72;
  width: 0;
  bottom: 0;
  transition: all 0.5s;
}
.header .container .wrap-navbar .navbar .drop_down-menu .menu_item .item:hover {
  color: #dc4f72;
  transition: all 0.4s;
}
.header .container .wrap-navbar .navbar .drop_down-menu .menu_item .item:hover::before {
  width: 20%;
  transition: all 0.5s;
}
.header .container .wrap-navbar .btn-schedule {
  padding: 0 1.25rem;
  border: 1px solid #dc4f72;
  border-radius: 0.3rem;
  margin-left: 2rem;
  transition: all 0.5s;
}
.header .container .wrap-navbar .btn-schedule:hover {
  background-color: #dc4f72;
  transition: all 0.5s;
}
.header .container .wrap-navbar .btn-schedule:hover .btn {
  color: #fff;
}
.header .container .wrap-navbar .btn-schedule .btn {
  line-height: 40px;
  font-size: 1rem;
  font-weight: 700;
  color: #dc4f72;
}

.onScroll {
  padding: 0;
}

.footer {
  margin-bottom: 300px;
}
.footer .footer-top .container {
  margin: 3rem auto;
}
.footer .footer-top .container .footer-top-section {
  max-width: 750px;
  margin: 0 auto;
  text-align: center;
}
.footer .footer-top .container .footer-top-section h1 {
  font-size: 3rem;
  font-weight: 700;
  color: #2c3038;
  line-height: 1;
  margin-bottom: 1rem;
}
.footer .footer-top .container .footer-top-section p {
  font-size: 1rem;
  font-weight: 400;
  color: #5a5a5a;
  line-height: 22.5px;
  margin: 5px auto;
}
.footer .footer-top .container .footer-top-btn {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
}
.footer .footer-top .container .footer-top-btn .btn-book {
  background: transparent;
  border: 1px solid #dc4f72;
  border-radius: 0.25rem;
  padding: 0px 30px;
  box-shadow: none;
  display: block;
  transition: all 0.4s;
  cursor: pointer;
  display: inline-block;
  line-height: 52px;
  font-size: 0.875rem;
  font-weight: 700;
  color: #dc4f72;
  margin-right: 0.5rem;
  transition: all 0.3s;
}
.footer .footer-top .container .footer-top-btn .btn-book:hover {
  background-color: #dc4f72;
  color: #fff;
  transition: all 0.3s;
}
.footer .footer-top .container .footer-top-btn .btn-start {
  background: #dc4f72;
  border: 1px solid #dc4f72;
  border-radius: 0.25rem;
  padding: 0px 30px;
  box-shadow: none;
  display: block;
  transition: all 0.4s;
  cursor: pointer;
  display: inline-block;
  line-height: 52px;
  font-size: 0.875rem;
  font-weight: 700;
  color: #fff;
  margin-left: 0.5rem;
  transition: all 0.3s;
}
.footer .footer-top .container .footer-top-btn .btn-start:hover {
  transition: all 0.3s;
  background-color: #d62f58;
  border-color: #cf2952;
}
.footer .footer-bottom {
  background-color: #f7f9fc;
}
.footer .footer-bottom .container {
  padding: 3rem 0;
}
.footer .footer-bottom .container .row .col .other-links .col .item h2 {
  font-size: 1.25rem;
  font-weight: 700;
  color: #2c3038;
  line-height: 25px;
  margin-bottom: 1.875rem;
}
.footer .footer-bottom .container .row .col .other-links .col .item a {
  font-size: 1rem;
  font-weight: 400;
  color: #656f7b;
  line-height: 25px;
  margin: 0.675rem 0;
}
.footer .footer-bottom .container .row .news {
  padding-left: 100px;
}
.footer .footer-bottom .container .row .news .item h2 {
  font-size: 1.25rem;
  font-weight: 700;
  color: #2c3038;
  line-height: 25px;
  margin-bottom: 1.875rem;
}
.footer .footer-bottom .container .row .news .item .get_update-box {
  background-color: #fff;
  border: 1px solid white;
  border-radius: 6px;
  padding: 1.75rem;
  box-shadow: 1px 5px 7.5px rgba(196, 196, 196, 0.2);
}
.footer .footer-bottom .container .row .news .item .get_update-box h3 {
  font-size: 1.125rem;
  font-weight: 500;
  color: #2c3038;
  line-height: 25px;
  margin-bottom: 1.875rem;
}
.footer .footer-bottom .container .row .news .item .get_update-box form {
  margin-bottom: 1rem;
}
.footer .footer-bottom .container .row .news .item .get_update-box form input {
  border: none;
  padding: 12px 20px;
  outline: none;
  width: 78%;
  border-radius: 6px;
  border: 1px solid transparent;
  font-size: 1rem;
  font-weight: 600;
  color: #2c3038;
  background-color: #f7f9fc;
  overflow: visible;
}
.footer .footer-bottom .container .row .news .item .get_update-box form button {
  border: none;
  outline: none;
  text-align: center;
  padding: 12px 20px;
  cursor: pointer;
  width: 20%;
  border-radius: 6px;
  border: 1px solid transparent;
  background-color: #dc4f72;
  font-size: 1rem;
  font-weight: 600;
  color: #fff;
}
.footer .footer-bottom .container .row .news .item .get_update-box p {
  font-size: 1rem;
  font-weight: 400;
  color: #5a5a5a;
  line-height: 22px;
}
.footer .footer-bottom .container .below-section {
  margin-top: 3rem;
  border-top: 1px solid #eaeaea;
  padding: 1.5rem 0;
  display: flex;
  justify-content: space-between;
}
.footer .footer-bottom .container .below-section .col .copyright {
  display: inline-block;
  font-size: 1rem;
  font-weight: 400;
  color: #5a5a5a;
}
.footer .footer-bottom .container .below-section .col .copyright a {
  display: inline-block;
  color: #2c3038;
  line-height: 22px;
}
.footer .footer-bottom .container .below-section .col .social {
  display: flex;
  justify-content: flex-end;
}
.footer .footer-bottom .container .below-section .col .social a {
  width: 36px;
  height: 36px;
  line-height: 36px;
  color: #2c3038;
  border-radius: 50%;
  text-align: center;
  display: inline-block;
  margin-left: 5px;
}

.carousel-homepage {
  margin-top: 100px;
}
.carousel-homepage .content {
  position: relative;
  z-index: 1;
  overflow: hidden;
  background: #ffffff;
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0.92)), url("../../img/banner.jpg");
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  display: grid;
  align-items: center;
  padding-top: 5rem;
}
.carousel-homepage .content .container .row {
  display: flex;
  flex-wrap: wrap;
}
.carousel-homepage .content .container .row .content-left h3 {
  font-size: 3.125rem;
  font-weight: 700;
  color: #2c3038;
  line-height: 57.5px;
}
.carousel-homepage .content .container .row .content-left p {
  line-height: 28px;
  max-width: 450px;
  margin-top: 1rem;
  margin-bottom: 3rem;
  font-size: 1.25rem;
  font-weight: 400;
  color: #5a5a5a;
}
.carousel-homepage .content .container .row .content-left a {
  padding: 0px 30px;
  text-transform: uppercase;
  transition: 0.3s ease-out;
  display: inline-block;
  line-height: 52px;
  cursor: pointer;
  text-align: center;
  vertical-align: middle;
  background-color: transparent;
  border-radius: 0.25rem;
  border: 1px solid #dc4f72;
  font-size: 0.875rem;
  font-weight: 700;
  color: #dc4f72;
}
.carousel-homepage .content .container .row .content-left a:hover {
  background-color: #dc4f72;
  color: #fff;
  transition: 0.3s ease-out;
}
.carousel-homepage .content .container .row .content-right {
  padding: 0 1rem;
}
.carousel-homepage .content .container .row .content-right img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  border-style: none;
  transform: rotate(180deg);
}

.choose-us .container .header-section {
  max-width: 750px;
}
.choose-us .container .header-section h3 {
  font-size: 3rem;
  font-weight: 700;
  color: #2c3038;
  line-height: 1;
}
.choose-us .container .header-section p {
  font-size: 1rem;
  font-weight: 400;
  color: #5a5a5a;
  line-height: 22.5px;
}
.choose-us .container .row .item .s-block {
  border-radius: 6px;
  transition: 0.3s ease-in;
  background: #f7f9fc;
  padding: 3rem 2rem;
  border: 1px solid #f7f9fc;
}
.choose-us .container .row .item .s-block:hover {
  transition: 0.3s ease-in;
  background-color: #fff;
  border: 1px solid #eee;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.09);
  transform: translateY(-0.5rem);
}
.choose-us .container .row .item .s-block a img {
  vertical-align: middle;
  border-style: none;
  height: 72px;
  width: 72px;
}
.choose-us .container .row .item .s-block a h3 {
  font-size: 1.625rem;
  font-weight: 700;
  color: #2c3038;
  line-height: 35px;
}
.choose-us .container .row .item .s-block a p {
  font-size: 1rem;
  font-weight: 400;
  color: #5a5a5a;
  margin-top: 15px;
  line-height: 24.5px;
}

.about-us .container .row .book-info h6 {
  text-transform: uppercase;
}
.about-us .container .row .book-info h3 {
  line-height: 40px;
  font-size: 2.2rem;
  font-weight: 700;
  color: #2c3038;
}
.about-us .container .row .book-info p {
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  font-weight: 400;
  color: #5a5a5a;
  line-height: 24.4px;
}
.about-us .container .row .book-info .btn-read-more {
  transition: 0.3s ease-out;
  line-height: 52px;
  width: 150px;
  margin: 0px;
  padding: 0px 30px;
  text-transform: uppercase;
  cursor: pointer;
  font-size: 0.875rem;
  font-weight: 700;
  color: #fff;
  background-color: #dc4f72;
  border: 1px solid #dc4f72;
  border-radius: 0.25rem;
}
.about-us .container .row .book-info .btn-read-more:hover {
  background-color: #d62f58;
  border: 1px solid #cf2952;
}
.about-us .container .row .img-about {
  width: 50%;
}
.about-us .container .row .img-about img {
  transition: 0.3s ease-in-out;
  border-radius: 6px;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.statistics {
  background-color: #f7f9fc;
}
.statistics .container .stats-content .col .stats_info {
  background-color: #fff;
  padding: 2rem;
  border-radius: 6px;
  box-shadow: 1px 5px 7.5px rgba(196, 196, 196, 0.2);
  transition: 0.3s ease;
  border: 1px solid #eee;
}
.statistics .container .stats-content .col .stats_info h4 {
  font-size: 1rem;
  font-weight: 700;
  color: #2c3038;
  line-height: 24.5px;
}
.statistics .container .stats-content .col .stats_info .counter {
  line-height: 1;
  margin-bottom: 15px;
  margin-top: 10px;
  font-size: 3.125rem;
  font-weight: 700;
  color: #dc4f72;
}
.statistics .container .stats-content .col .stats_info p {
  color: #5a5a5a;
}

.ourselves .new-block {
  background-size: cover;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.33)), url("../../img/bg.jpg");
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-position: center;
  background-attachment: fixed;
  min-height: 480px;
  display: grid;
  align-items: center;
  padding: 2rem 0;
}
.ourselves .new-block .container .middle-section {
  max-width: 550px;
}
.ourselves .new-block .container .middle-section .section-width h2 {
  line-height: 36px;
  font-size: 1.875rem;
  font-weight: 700;
  color: #fff;
}
.ourselves .new-block .container .middle-section .link-list-menu p {
  font-size: 1rem;
  font-weight: 400;
  color: #eee;
  line-height: 24.5px;
}
.ourselves .new-block .container .middle-section .link-list-menu a {
  background: #f8f9fa;
  border: 1px solid #f8f9fa;
  border-radius: 0.25rem;
  padding: 0px 30px;
  box-shadow: none;
  display: block;
  transition: all 0.4s;
  cursor: pointer;
  font-size: 0.875rem;
  font-weight: 700;
  color: #212529;
  transition: 0.3s ease-out;
  display: inline-block;
  line-height: 52px;
  text-transform: uppercase;
}
.ourselves .new-block .container .middle-section .link-list-menu a:hover {
  background-color: #e2e6ea;
  border-color: #dae0e5;
}

.news .container .header-section {
  max-width: 750px;
  margin: 0 auto;
}
.news .container .header-section .sub-title {
  line-height: 20px;
  text-transform: uppercase;
  margin-bottom: 5px;
  font-size: 1rem;
  font-weight: 700;
  color: #dc4f72;
}
.news .container .header-section h3 {
  line-height: 1;
  font-size: 3rem;
  font-weight: 700;
  color: #2c3038;
}
.news .container .header-section p {
  line-height: 22.5px;
  margin-left: auto;
  margin-right: auto;
  font-size: 1rem;
  font-weight: 400;
  color: #5a5a5a;
}
.news .container .article .row .coll .info {
  border-radius: 6px;
  transition: 0.3s ease-in;
  display: block;
  height: 100%;
  background: #fff;
  border: 1px solid #eee;
}
.news .container .article .row .coll .info:hover {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.09);
  transform: translateY(-0.5rem);
}
.news .container .article .row .coll .info:hover .zoom .news-image {
  filter: none;
}
.news .container .article .row .coll .info:hover .blog-info h4 a {
  color: #dc4f72;
}
.news .container .article .row .coll .info:hover .btn-news i {
  transition: 0.3s ease-in;
  transform: translateX(5px);
}
.news .container .article .row .coll .info .zoom {
  overflow: hidden;
  position: relative;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}
.news .container .article .row .coll .info .zoom .news-image {
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  display: block;
  transition: 0.3s ease-in-out;
  filter: grayscale(1);
}
.news .container .article .row .coll .info .zoom .date {
  font-size: 18px;
  font-weight: 700;
  color: #fff;
  border-bottom: none;
  padding-bottom: 0px;
  position: absolute;
  top: 0;
  background: #dc4f72;
  line-height: 24.5px;
  padding: 15px;
  margin-bottom: 0;
  right: 0;
  margin-top: 0;
}
.news .container .article .row .coll .info .blog-info {
  background: #fff;
  padding: 30px 20px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}
.news .container .article .row .coll .info .blog-info label {
  font-size: 0.875rem;
  font-weight: 600;
  color: #212529;
  padding: 5px 16px;
  display: inline-block;
  border-radius: 25px;
  margin-bottom: 15px;
}
.news .container .article .row .coll .info .blog-info .red {
  background: rgba(238, 97, 120, 0.2);
  color: #dc4f72;
}
.news .container .article .row .coll .info .blog-info .green {
  background: rgba(0, 128, 0, 0.2);
  color: #008000;
}
.news .container .article .row .coll .info .blog-info .blue {
  background: rgba(0, 0, 255, 0.2);
  color: #0000ff;
}
.news .container .article .row .coll .info .blog-info h4 a {
  font-size: 22px;
  font-weight: 600;
  color: #2c3038;
  line-height: 27px;
  display: block;
}
.news .container .article .row .coll .info .blog-info .blog-text {
  font-size: 1rem;
  font-weight: 1rem;
  color: #5a5a5a;
  line-height: 24.5px;
  margin-top: 15px;
  border-bottom: 1px solid #eee;
  padding-bottom: 20px;
  margin-bottom: 20px;
}
.news .container .article .row .coll .info .blog-info .btn-news {
  font-size: 1rem;
  font-weight: 600;
  color: #dc4f72;
  padding: 0;
  transition: 0.3s ease-in-out;
  border-radius: 0;
  position: relative;
  display: inline-block;
}
.news .container .article .row .coll .info .blog-info .btn-news i {
  font-size: 60%;
  vertical-align: middle;
  padding-left: 0px;
  position: absolute;
  right: -13px;
  top: 8.5px;
  transition: 0.3s ease-in;
}

.faq {
  background-color: #f7f9fc;
}
.faq .container .row .col-img .faq-image img {
  border-radius: 6px;
  transition: 0.3s ease-in-out;
}
.faq .container .row .col-content .faq-block .faq-page ul {
  list-style: none;
  padding: 0;
  max-width: 750px;
  margin: 0 auto;
}
.faq .container .row .col-content .faq-block .faq-page ul li {
  position: relative;
  padding: 25px 50px 25px 20px;
  border: 1px solid #eee;
  margin: 0 0 15px 0;
  border-radius: 6px;
  background: #fff;
}
.faq .container .row .col-content .faq-block .faq-page ul li input {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  overflow: visible;
  position: absolute;
  cursor: pointer;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  top: 0;
  left: 0;
  -webkit-appearance: none;
}
.faq .container .row .col-content .faq-block .faq-page ul li input:checked ~ p {
  margin-top: 0;
  max-height: 0;
  opacity: 0;
  transform: translate(0, 50%);
  transition: all 0.25s ease-in-out;
}
.faq .container .row .col-content .faq-block .faq-page ul li input:checked ~ i::before {
  transform: translate(2px, 0) rotate(45deg);
  transition: all 0.25s ease-in-out;
}
.faq .container .row .col-content .faq-block .faq-page ul li input:checked ~ i::after {
  transform: translate(-2px, 0) rotate(-45deg);
  transition: all 0.25s ease-in-out;
}
.faq .container .row .col-content .faq-block .faq-page ul li i {
  position: absolute;
  transform: translate(-6px, 0);
  margin-top: 16px;
  right: 25px;
  top: 16px;
}
.faq .container .row .col-content .faq-block .faq-page ul li i::before, .faq .container .row .col-content .faq-block .faq-page ul li i::after {
  content: "";
  position: absolute;
  background-color: #2c3038;
  width: 3px;
  height: 9px;
}
.faq .container .row .col-content .faq-block .faq-page ul li i::before {
  transform: translate(-2px, 0) rotate(45deg);
  transition: all 0.25s ease-in-out;
}
.faq .container .row .col-content .faq-block .faq-page ul li i::after {
  transform: translate(2px, 0) rotate(-45deg);
  transition: all 0.25s ease-in-out;
}
.faq .container .row .col-content .faq-block .faq-page ul li h2 {
  font-size: 1.25rem;
  font-weight: 400;
  color: #2c3038;
  line-height: 1;
  display: block;
  margin: 0;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.faq .container .row .col-content .faq-block .faq-page ul li p {
  font-size: 1rem;
  font-weight: 400;
  color: #5a5a5a;
  line-height: 24.5px;
  position: relative;
  overflow: hidden;
  max-height: 800px;
  opacity: 1;
  transform: translate(0, 0);
  margin-top: 14px;
  z-index: 2;
  transition: all 0.25s ease-in-out;
}

.wrapper-bottom {
  width: 100%;
  height: 450px;
  background-color: #fff;
}/*# sourceMappingURL=home.css.map */