@import "../theme/mixin";
@import "../theme/variables";
@import "../common/base";
@import "../layouts/header";
@import "../layouts/footer";

.header-section {
  margin: 0 auto 3rem auto;
  text-align: center;
  h2 {
    @include Text($text-xml, $text-extraBold, $c1-200);
    line-height: 3.4375rem;
  }
}

.title {
  h6 {
    @include Text($text-base, $text-bold, $primary);
    text-transform: uppercase;
    margin-bottom: 0.3125rem;
    line-height: 1.25rem;
  }
  h3 {
    @include Text($text-xml, $text-bold, $c1-200);
  }
  p {
    @include Text($text-base, $text-regular, $c1-50);
    line-height: 1.4rem;
    margin: 1rem auto;
  }
}

.contact{
    position: relative;
}