@import "../theme/mixin";
@import "../theme/variables";

.footer {
  .footer-top {
    .container {
      margin: 3rem auto;
      .footer-top-section {
        max-width: 750px;
        margin: 0 auto;
        text-align: center;
        h1 {
          @include Text($text-2xl, $text-bold, $c1-200);
          line-height: 1;
          margin-bottom: 1rem;
        }
        p {
          @include Text($text-base, $text-regular, $c1-50);
          line-height: 22.5px;
          margin: 5px auto;
        }
      }
      .footer-top-btn {
        display: flex;
        justify-content: center;
        margin-top: 3rem;
        .btn-book {
          @include Button(
            transparent,
            1px solid $primary,
            0.25rem,
            0px 30px,
            none
          );
          display: inline-block;
          line-height: 52px;
          @include Text($text-sm, $text-bold, $primary);
          margin-right: 0.5rem;
          transition: all 0.3s;
          &:hover {
            background-color: $primary;
            color: $white;
            transition: all 0.3s;
          }
        }
        .btn-start {
          @include Button(
            $primary,
            1px solid $primary,
            0.25rem,
            0px 30px,
            none
          );
          display: inline-block;
          line-height: 52px;
          @include Text($text-sm, $text-bold, $white);
          margin-left: 0.5rem;
          transition: all 0.3s;
          &:hover {
            transition: all 0.3s;
            background-color: $c2-400;
            border-color: $c2-300;
          }
        }
      }
    }
  }
  .footer-bottom {
    background-color: $light-bg;
    .container {
      padding: 3rem 0;
      .row {
        .col {
          .other-links {
            .col {
              .item {
                h2 {
                  @include Text($text-md, $text-bold, $c1-200);
                  line-height: 25px;
                  margin-bottom: 1.875rem;
                }
                a {
                  @include Text($text-base, $text-regular, $c1-75);
                  line-height: 25px;
                  margin: 0.675rem 0;
                }
              }
            }
          }
        }
        .news {
          padding-left: 100px;
          .item {
            h2 {
              @include Text($text-md, $text-bold, $c1-200);
              line-height: 25px;
              margin-bottom: 1.875rem;
            }
            .get_update-box {
              background-color: $white;
              border: 1px solid white;
              border-radius: 6px;
              padding: 1.75rem;
              box-shadow: 1px 5px 7.5px rgba(196, 196, 196, 0.2);
              h3 {
                @include Text(1.125rem, 500, $c1-200);
                line-height: 25px;
                margin-bottom: 1.875rem;
              }
              form {
                margin-bottom: 1rem;
                input {
                  border: none;
                  padding: 12px 20px;
                  outline: none;
                  width: 78%;
                  border-radius: 6px;
                  border: 1px solid transparent;
                  @include Text($text-base, $text-semiBold, $c1-200);
                  background-color: $light-bg;
                  overflow: visible;
                }
                button {
                  border: none;
                  outline: none;
                  text-align: center;
                  padding: 12px 20px;
                  cursor: pointer;
                  width: 20%;
                  border-radius: 6px;
                  border: 1px solid transparent;
                  background-color: $primary;
                  @include Text($text-base, $text-semiBold, $white);
                }
              }
              p {
                @include Text($text-base, $text-regular, $c1-50);
                line-height: 22px;
              }
            }
          }
        }
      }
      .below-section {
        margin-top: 3rem;
        border-top: 1px solid #eaeaea;
        padding: 1.5rem 0;
      }
    }
  }
}
