@import "../theme/mixin";
@import "../theme/variables";

a {
  text-decoration: none;
  display: block;
}

.header {
  .container {
    display: flex;
    justify-content: space-between;
    .logo-header {
      // border: 1px solid black;
      .logo {
        height: 30px;
        display: flex;
        @include Text($text-lg, $text-extraBold, $primary);
        i {
          line-height: 30px;
        }
        p {
          margin-left: 10px;
          line-height: 30px;
        }
      }
    }
    .wrap-navbar {
      display: flex;
    }
  }
}
