@import "../theme/mixin";
@import "../theme/variables";

html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Nunito", sans-serif;
  @include Text($text-base, $text-regular, $c1-300);
  background-color: $white;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
}

a,li,ol{
  list-style: none;
  text-decoration: none;
}

.title{
  max-width: 900px;
  margin: 0 auto;
  h2{
    @include Text($text-3xl,$text-extraBold,$c1-200);
    line-height: 3.4375rem;
  }
  h3{
    @include Text($text-3xl,$text-bold,$c1-200)
  }
  h6{
    @include Text($text-base,$text-bold,$primary);
    margin-bottom: 0.3125rem;
  }
  p{
    color: $c1-50;
    line-height: 1.4rem;
  }
}

.breadcrumb{
  padding: 15px 20px;
  background-color: $light-bg;
  margin-bottom: 0.5rem;
    @include Text($text-sm, $text-regular, $c1-200);
    a{
      color: $primary;
      margin-right: 5px;
      &:hover{
        text-decoration: underline;
      }
    }

}