@import "../theme/mixin";
@import "../theme/variables";

html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Nunito", sans-serif;
  @include Text($text-base, $text-regular, $c1-300);
  background-color: $white;
}

.container {
  margin: 0 auto;
  max-width: 1280px;
}

.img-fluid {
  width: 100%;
  height: auto;
}

.header-section {
  max-width: 750px;
  margin: 0 auto;
  .sub-title {
    line-height: 20px;
    text-transform: uppercase;
    margin-bottom: 5px;
    @include Text($text-base, $text-bold, $primary);
  }
  h3 {
    line-height: 1;
    @include Text($text-2xl, $text-bold, $c1-200);
  }
  p {
    line-height: 22.5px;
    margin-left: auto;
    margin-right: auto;
    @include Text($text-base, $text-regular, $c1-50);
  }
}
